body{
	background-color: lightslategrey;
	background-image: url(https://www.icegif.com/wp-content/uploads/2023/03/icegif-1393.gif);
background-size: 200px;
background-repeat: no-repeat;
background-position: 95% 90%;
background-attachment: fixed;
}
p{
	font-size: 0.9in;
	color: darkkhaki;
	background-image: url(https://t3.ftcdn.net/jpg/04/12/82/16/360_F_412821610_95RpjzPXCE2LiWGVShIUCGJSktkJQh6P.jpg);
	background-size: cover;
}
#d1{
	width: 500px;
	height: 500px;
	background-image: url(https://burst.shopifycdn.com/photos/beach-at-sunset-in-teal-and-orange.jpg);
background-size: cover;
border: 30px groove teal;
}
#d2{
	width: 400px;
	height: 400px;
	border: 30px solid;
	border-image: linear-gradient(teal,grey,lavender) 30;
	margin: 50px;
}
#img1{
	width: 800px;
	border: 30px ridge purple;
	margin-bottom: 50px;
}
#img2{
	width: 50%;
	display: block;
	margin: auto;
	border-radius: 50%;
	box-shadow: 0 0 50px hotpink;
}
